<section class="bg-blue-50">
    <div class="grid grid-cols-1 lg:grid-cols-2 max-w-7xl px-8 py-24 mx-auto justify-center items-center gap-8">
        <img src="/../cta-selva.avif" alt="Tours en Iquitos, Perú - Amazonía Peruana" class="rounded-md order-2 lg:order-1" loading="lazy" />
        <div class="order-1 lg:order-2 space-y-2">
            <p class="uppercase text-green-700 font-medium">
                Exploremos Iquitos
            </p>
            <h3 class="text-green-700 font-bold text-2xl lg:text-3xl">
                Historia y Transformación
            </h3>
            <p class="text-gray-900 text-justify text-sm">
                Ubicada en la selva noreste del Perú, Iquitos es la capital de Loreto y Maynas, rodeada por los ríos Amazonas, Nanay e Itaya. Fundada en 1757 por la misión jesuita como San Pablo de los Napeanos, la ciudad fue habitada por los Iquitos tras la partida de los napeanos a finales del siglo XVIII. Entre 1880 y 1914, la fiebre del caucho impulsó su crecimiento, atrayendo a peruanos y europeos en busca de oportunidades. Este auge convirtió a Iquitos en un centro comercial, modernizando la ciudad con nueva arquitectura y servicios públicos que mejoraron la calidad de vida de sus habitantes.
            </p>
            <a target="_blank" href="#" class="inline-flex items-center justify-center hover:bg-green-800 font-bold rounded-md bg-green-700 text-white text-sm px-6 py-3" aria-label="Contacto de WhatsApp">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-2xl ml-2"></i>
            </a>
        </div>
    </div>
</section>