<section class="bg-white my-14">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8 text-center">
            <h3 class="text-4xl font-extrabold mb-4 text-gray-950">
                CAJAMARCA VIP INOLVIDABLE
            </h3>
            <p class="text-red-500 font-bold">
                CONSTANCIA N° 028-2017-GRJ-DIRCETUR(MINCETUR)
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cajamarca-4d-3n.png" alt="Iquitos de Lujo en Irapay Amazon Lodge" class="object-cover rounded-lg w-full h-44" width="358" height="176" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CAJAMARCA 4D/3N
                    </a>
                    <p class="text-gray-950">
                        CITY – CUMBE MAYO/BAÑOS DEL INCA – GRANJA DE PORCON – CAJAMARCA.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Iquitos de Lujo en Irapay Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <symbol id="ai:local:angle-right">
                            <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                        </symbol>
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cajamarca-5d-4n.png" alt="Explorando el Amazonas en Heliconia Amazon Lodge" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CAJAMARCA 5D/4N
                    </a>
                    <p class="text-gray-950">
                        CITY – CUMBE MAYO/BAÑOS DEL INCA – GRANJA DE PORCON – CAJAMARCA.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Explorando el Amazonas en Heliconia Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cajamarca-6d-5n.png" alt="Explorando el Amazonas en Heliconia Amazon Lodge" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CAJAMARCA 6D/5N
                    </a>
                    <p class="text-gray-950">
                        CITY – CUMBE MAYO/BAÑOS DEL INCA – GRANJA DE PORCON – CAJAMARCA.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Explorando el Amazonas en Heliconia Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>