<section class="bg-white my-14">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8 text-center">
            <h3 class="text-4xl font-bold mb-4 text-gray-950">
                Máncora Premium
            </h3>
            <p class="text-gray-950">
                Descubre los mejores paquetes turísticos con <strong>PDT Peruvian Travel</strong> en la hermosa ciudad de Máncora. <br /> Disfruta de sus playas paradisíacas, su clima cálido y la vibrante vida costera. Ya sea en pareja, familia o con amigos, te ofrecemos itinerarios exclusivos, alojamiento de calidad y una atención personalizada que harán de tu viaje una experiencia realmente inolvidable.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-gray-50 bg-opacity-70 rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-300 px-6 py-6 max-w-md mx-auto md:max-w-full">
                <img src="/../mancora-3-dias.png" alt="Vista del tour Cusco Inolvidable VIP de 4 días y 3 noches" class="w-full h-48 sm:h-56 md:h-64 object-cover rounded-xl mb-6" loading="lazy" />

                <div class="mb-4">
                    <h3 class="text-gray-800 text-lg sm:text-xl md:text-2xl font-semibold leading-snug">
                        <a href="cusco/4-dias-3-noches" class="block">
                           Máncora Premium
                        </a>
                    </h3>
                    <div class="flex items-center gap-2 mt-1">
                        <span class="bg-orange-500 text-white text-sm sm:text-base font-semibold px-3 py-1 rounded-full shadow-sm">
                            3D/2N
                        </span>
                    </div>
                </div>

                <hr class="border-orange-300 mb-6" />

                <a href="cusco/4-dias-3-noches" aria-label="Consultar paquete turístico: Cusco Inolvidable VIP 4D/3N" class="flex items-center justify-between group">
                    <span class="text-base font-semibold text-gray-900 group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </span>
                    <span class="w-9 h-9 bg-gray-900 text-white rounded-full flex items-center justify-center group-hover:bg-orange-500 transition-colors">
                        <i class="fas fa-angle-right text-lg"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-70 rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-300 px-6 py-6 max-w-md mx-auto md:max-w-full">
                <img src="/../mancora-5-dias.png" alt="Cusco Inolvidable VIP 5D/4N SURHUME" class="w-full h-48 sm:h-56 md:h-64 object-cover rounded-xl mb-6" loading="lazy" />

                <div class="mb-4">
                    <h3 class="text-gray-800 text-lg sm:text-xl md:text-2xl font-semibold leading-snug">
                        <a href="mancora/5-dias-4-noches" class="block">
                            Máncora Premium
                        </a>
                    </h3>
                    <div class="flex items-center gap-2 mt-1">
                        <span class="bg-orange-500 text-white text-sm sm:text-base font-semibold px-3 py-1 rounded-full shadow-sm">
                            5D/4N
                        </span>
                    </div>
                </div>

                <hr class="border-orange-300 mb-6" />

                <a href="mancora/5-dias-4-noches" aria-label="Consultar paquete turístico: Cusco Inolvidable VIP 5D/4N SURHUME" target="_blank" class="flex items-center justify-between group">
                    <span class="text-base font-semibold text-gray-900 group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </span>
                    <span class="w-9 h-9 bg-gray-900 text-white rounded-full flex items-center justify-center group-hover:bg-orange-500 transition-colors">
                        <i class="fas fa-angle-right text-lg"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>