<section class="bg-white my-14">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8 text-center">
            <h3 class="text-4xl font-bold mb-4 text-gray-950">
                Los mejores paquetes turísticos
            </h3>
            <p class="text-gray-950">
                Descubre los mejores paquetes turísticos con <strong>PDT Peruvian Travel</strong>. Somos tu opción ideal para viajes en pareja, en familia o con amigos. Celebra tu luna de miel, cumpleaños o aniversario en los más exclusivos hoteles y lodges de la selva amazónica. Garantizamos experiencias inolvidables y un servicio de calidad excepcional.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Iquitos de Lujo en Irapay Amazon Lodge" class="object-cover rounded-lg w-full h-44" width="358" height="176" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 4D/3N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Iquitos de Lujo en Irapay Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <symbol id="ai:local:angle-right">
                            <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                        </symbol>
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Explorando el Amazonas en Heliconia Amazon Lodge" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 5D/4N SURHUME
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Explorando el Amazonas en Heliconia Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Relax en la selva Cumaceba" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 5D/4N
                    </a>
                    <p class="text-gray">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Relax en la selva Cumaceba" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Tours diarios Isla  de los monos" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 6D/5N PUNO - AREQUIPA
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Tours diarios Isla  de los monos" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Iquitos" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MANCORA PREMIUM 3D/2N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Iquitos" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MANCORA PREMIUM 5D/4N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO KUELAP MISTICO VIP 6D/5N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO VIP 4D/3N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO VIP 5D/4N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        HUANCAYO -SELVA CENTRAL MISTICO 5D/4N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO BORG -CIT 5D/4N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO - BORG 4D/3N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO 3D/2N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA 2D/1N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MANCORA PREMIUM 4D/3N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>