<section class="bg-white my-14">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8 text-center">
            <h3 class="text-4xl font-bold mb-4 text-gray-950">
                Los mejores paquetes turísticos
            </h3>
            <p class="text-gray-950">
                Descubre los mejores paquetes turísticos con <strong>PDT Peruvian Travel</strong>. Somos tu opción ideal para viajes en pareja, en familia o con amigos. Celebra tu luna de miel, cumpleaños o aniversario en los más exclusivos hoteles y lodges de la selva amazónica. Garantizamos experiencias inolvidables y un servicio de calidad excepcional.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cusco-inolvidable-4d.png" alt="CUSCO INOLVIDABLE VIP 4D/3N" class="object-cover rounded-lg w-full h-44" width="358" height="176" loading="lazy" />
                
                <div class="pt-8 pb-4">
                    <a href="cusco/4-dias-3-noches" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 4D/3N
                    </a>
                </div>
                
                <div class="border border-orange-600 my-4"></div>
                
                <a href="cusco/4-dias-3-noches" aria-label="Guía turística por CUSCO INOLVIDABLE VIP 4D/3N" class="flex justify-between items-center group">
                    <p class="text-gray-900 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-900 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cusco-inolvidable-5d.png" alt="CUSCO INOLVIDABLE VIP 5D/4N SURHUME" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                
                <div class="pt-8 pb-4">
                    <a href="cusco/5-dias-4-noches-surhume" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 5D/4N SURHUME
                    </a>
                </div>
                
                <div class="border border-orange-600 my-4"></div>
                
                <a href="cusco/5-dias-4-noches-surhume" aria-label="Guía turística por CUSCO INOLVIDABLE VIP 5D/4N SURHUME" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cusco-inolvidable-5d-4n.png" alt="Relax en la selva Cumaceba" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                
                <div class="pt-8 pb-4">
                    <a href="cusco/5-dias-4-noches" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 5D/4N
                    </a>
                </div>
                
                <div class="border border-orange-600 my-4"></div>
                
                <a href="cusco/5-dias-4-noches" aria-label="Guía turística por CUSCO INOLVIDABLE VIP 5D/4N" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../cusco-inolvidable-6d-5n.png" alt="Tours diarios Isla de los monos" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="cusco/6-dias-5-noches" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        CUSCO INOLVIDABLE VIP 6D/5N PUNO - AREQUIPA
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="cusco/6-dias-5-noches" aria-label="Guía turística por Tours diarios Isla de los monos" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../mancora-3-dias.png" alt="Pacaya Samiria desde Iquitos" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="mancora/3-dias-2-noches" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MÁNCORA PREMIUM 3D/2N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="mancora/3-dias-2-noches" aria-label="Guía turística por Pacaya Samiria desde Iquitos" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../mancora-5-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="mancora/5-dias-4-noches" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MÁNCORA PREMIUM 5D/4N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="mancora/5-dias-4-noches" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../kuelap-6-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO KUÉLAP MÍSTICO VIP 6D/5N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../tarapoto-4-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO VIP 4D/3N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../tarapoto-5-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        TARAPOTO VIP 5D/4N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../huancayo-5-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        HUANCAYO - SELVA CENTRAL MISTICO 5D/4N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../perene-5-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO BORG - CIT 5D/4N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../perene-4-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO - BORG 4D/3N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../perene-3-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA - POZUZO 3D/2N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <i class="fas fa-angle-right text-white"></i>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../perene-2-dias.png" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />

                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        PERENÉ - OXAPAMPA 2D/1N
                    </a>
                </div>

                <div class="border border-orange-600 my-4"></div>

                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-600 transition-colors">
                        Consultar paquete
                    </p>
                    <span class="w-8 h-8 flex items-center justify-center bg-gray-950 rounded-full group-hover:bg-orange-600 transition-colors">
                        <svg width="16" height="16" viewBox="0 0 320 512" fill="white" aria-hidden="true">
                            <use xlink:href="#ai:local:angle-right"></use>
                        </svg>
                    </span>
                </a>
            </div>

            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../selva-central-1.jpg" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="#" class="block text-xl text-gray-950 font-bold h-14 hover:text-orange-600 transition-colors">
                        MANCORA PREMIUM 4D/3N
                    </a>
                    <p class="text-gray-950">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="#" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-gray-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-gray-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>