---
import BreadcrumbCartagenaDeIndias from "../../components/BreadcrumbCartagenaDeIndias.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro"
---
<Layout>
    <Navbar />
    <BreadcrumbCartagenaDeIndias />
    <section class="bg-white py-16 px-4">
        <div class="max-w-6xl mx-auto">
            <!-- Título -->
            <header class="text-center mb-16">
                <h2 class="text-3xl sm:text-5xl font-extrabold text-gray-900 tracking-tight leading-snug mb-3">
                    Cartagena de Indias 4D/3N
                </h2>

                <div class="inline-flex items-center gap-2 px-4 py-1 bg-gray-100 rounded-full shadow-sm text-sm sm:text-base text-gray-700 font-medium">
                    <i class="fas fa-certificate text-red-500"></i>
                    Constancia N° 028-2017-GRJ-DIRCETUR (MINCETUR)
                </div>
            </header>

            <!-- Itinerario -->
            <div>
                <!-- Día 1 -->
                <article class="relative border-l-4 border-green-600 bg-white rounded-2xl shadow-md p-6 mb-10 transition hover:shadow-lg">
                    <!-- Línea temporal -->
                    <span class="absolute -left-2.5 top-6 w-4 h-4 bg-green-600 border-4 border-white rounded-full shadow"></span>

                    <!-- Título del día -->
                    <h4 class="text-2xl sm:text-3xl font-extrabold text-green-800 leading-tight mb-6 tracking-tight">
                        Día 01: Lima – Cartagena
                    </h4>

                    <!-- Lista de eventos horarios -->
                    <ul class="space-y-3 ml-5 text-gray-800">
                        <li class="list-disc">
                            AM Concentración.
                        </li>
                        <li class="list-disc">
                            Traslado al aeropuerto.
                        </li>
                        <li class="list-disc">
                            AM Salida hacia Cartagena (escala en Bogotá).
                        </li>
                        <li class="list-disc">
                            Recepción y traslado al hotel, instalación. <strong>SISTEMA TODO INCLUIDO</strong>.
                        </li>
                        <li class="list-disc">
                            PM Tour panorámico en <strong>BUS CHIVAS</strong> por toda la ciudad.
                        </li>
                        <li class="list-disc">
                            Incluye bebidas nacionales durante el recorrido, Snack de fritos típicos, música, animación, visita a una discoteca de la ciudad y regreso al hotel sobre las 10:30 PM. 
                        </li>
                        <li class="list-disc">
                            Cena.
                        </li>
                        <li class="list-disc">
                            Pernocte.
                        </li>
                    </ul>
                </article>

                <!-- Día 2 -->
                <article class="relative border-l-4 border-green-600 bg-white rounded-2xl shadow-md p-6 mb-10 transition hover:shadow-lg">
                    <!-- Línea temporal -->
                    <span class="absolute -left-2.5 top-6 w-4 h-4 bg-green-600 border-4 border-white rounded-full shadow"></span>

                    <!-- Título del día -->
                    <h4 class="text-2xl sm:text-3xl font-extrabold text-green-800 leading-tight mb-6 tracking-tight">
                        Día 02: Tour Isla del Rosario
                    </h4>

                    <!-- Lista de eventos horarios -->
                    <ul class="space-y-3 ml-5 text-gray-800">
                        <li class="list-disc">
                            Sistema todo incluido <strong>DESAYUNO- ALMUERZO- CENA</strong>.
                        </li>

                        <li class="list-disc">
                            Traslado al muelle turístico.
                        </li>

                        <li class="list-disc">
                            Traslado en Lancha Rápida directo a la Isla del Rosario.
                        </li>

                        <li class="list-disc">
                            <strong>SNORLEK INCLUIDO</strong>.
                        </li>

                        <li class="list-disc">
                            Retorno al Hotel para seguir disfrutando del hotel.
                        </li>

                        <li class="list-disc">
                            Cena.
                        </li>

                        <li class="list-disc">
                            Pernocte.
                        </li>
                    </ul>
                </article>

                <!-- Día 3 -->
                <article class="relative border-l-4 border-green-600 bg-white rounded-2xl shadow-md p-6 mb-10 transition hover:shadow-lg">
                    <!-- Línea temporal -->
                    <span class="absolute -left-2.5 top-6 w-4 h-4 bg-green-600 border-4 border-white rounded-full shadow"></span>

                    <!-- Título del día -->
                    <h4 class="text-2xl sm:text-3xl font-extrabold text-green-800 leading-tight mb-6 tracking-tight">
                        Día 03: City Tour Cartagena Completo
                    </h4>

                    <!-- Lista de eventos horarios -->
                    <ul class="space-y-3 ml-5 text-gray-800">
                        <li class="list-disc">
                            Sistema todo incluido <strong>DESAYUNO- ALMUERZO- CENA</strong>.
                        </li>
                        <li class="list-disc">
                            Recorrido panorámico por la ciudad, pasando por el monumento zapatos viejos, visita al castillo de San Felipe, a las bóvedas con caminata corta en el centro histórico y regreso a la zona hotelera sobre las 6:00pm.
                        </li>
                        <li class="list-disc">
                            Incluye el transporte en bus o Chiva, entradas al castillo y guía en español.
                        </li>
                    </ul>
                </article>

                <article class="relative border-l-4 border-green-600 bg-white rounded-2xl shadow-md p-6 mb-10 transition hover:shadow-lg">
                    <!-- Línea temporal -->
                    <span class="absolute -left-2.5 top-6 w-4 h-4 bg-green-600 border-4 border-white rounded-full shadow"></span>

                    <!-- Título del día -->
                    <h4 class="text-2xl sm:text-3xl font-extrabold text-green-800 leading-tight mb-6 tracking-tight">
                        Día 04: Cartagena - Lima (ESCALA EN BOGOTA)
                    </h4>

                    <!-- Lista de eventos horarios -->
                    <ul class="space-y-3 ml-5 text-gray-800">
                        <li class="list-disc">
                            Desayuno.
                        </li>
                        <li class="list-disc">
                            Hora oportuna traslado al aeropuerto con destino a la ciudad de Lima.
                        </li>
                        <li class="list-disc">
                            PM Llegada a Lima.
                        </li>
                    </ul>
                </article>
            </div>
            <div class="bg-white rounded-2xl shadow-md p-6 mb-10 border-l-4 border-green-600">
                <h3 class="text-3xl font-extrabold text-green-800 mb-6 tracking-tight">
                    Nuestro Sistema Incluye
                </h3>

                <ul class="list-disc list-inside text-gray-800 mb-2">
                    <li>Boleto aéreo Lima / Cartagena / Lima (escala en Bogotá).</li>
                    <li>Impuestos aéreos.</li>
                    <li>Traslados aeropuerto / hotel / aeropuerto en Cartagena.</li>
                    <li>Sistema todo incluido (03 DESAYUNOS, 03 ALMUERZOS, 03 CENAS).</li>
                    <li>Noches de hotel (auditorio & barra libre).</li>
                    <li>Tarjeta de Asistencia Internacional.</li>
                    <li>Excursión en Las Chivas.</li>
                    <li>Isla del Rosario.</li>
                    <li>City tour.</li>
                </ul>

                <div class="rounded-md">
                    <h3 class="text-base font-semibold text-orange-600 mb-2">CONDICIONES GENERALES:</h3>
                    <ul class="list-disc list-inside space-y-2 text-sm text-gray-800">
                        <li>Esta Cotización debe ser pre-pagada $100.00 DÓLARES por pasajero una vez solicitado el bloqueo.</li>
                        <li><strong>NO REEMBOLSABLE</strong>.</li>
                        <li>Deberá ser enviado el rooming list del grupo de ser aceptado en las fechas asignadas.</li>
                        <li>La presente es una cotización, no implica reserva alguna.</li>
                        <li>Si varían las fechas o el número de pasajeros, debemos cotizar nuevamente.</li>
                        <li>El pago es de total acuerdo con las fechas asignadas; no es válido pasada la fecha estimada; está sujeto a fecha de solicitud del grupo.</li>
                        <li>Se indicarán fechas de pago.</li>
                        <li>La presente cotización no implica reserva y puede variar de acuerdo a las regulaciones del hotel y de la línea aérea.</li>
                    </ul>
                </div>

                <div class="rounded-md mt-4">
                    <h3 class="text-base font-semibold text-orange-600 mb-2">CUOTAS DE PAGO:</h3>
                    <ul class="list-disc list-inside space-y-2 text-sm text-gray-800">
                        <li>Las cuotas de pago serán pactadas con fechas asignadas una vez liquidado el grupo.</li>
                        <li>En caso de incumplir la cuota y la fecha pactada se cobrará la mora correspondiente que indica.</li>
                        <li>El grupo deberá estar pagado en su totalidad y con previo rooming list 20 días antes de la fecha de salida.</li>
                    </ul>
                </div>

                <div class="rounded-md mt-4">
                    <h3 class="text-base font-semibold text-orange-600 mb-2">ANULACIONES:</h3>
                    <ul class="list-disc list-inside space-y-2 text-sm text-gray-800">
                        <li>Anulación una vez confirmado el grupo se indicará las penalizaciones correspondientes de acuerdo a línea aérea y servicios.</li>
                        <li>Anulaciones dentro de los 45 días previos al inicio del viaje se penalizarán al 100% del pago total.</li>
                    </ul>
                </div>

                <div class="rounded-md mt-4">
                    <h3 class="text-base font-semibold text-orange-600 mb-2">CAMBIOS:</h3>
                    <ul class="list-disc list-inside space-y-2 text-sm text-gray-800">
                        <li>No reembolsable, no endosable, ni transferible, no se permiten cambios una vez realizado el prepago, no se puede usar como parte de pago de otros grupos.</li>
                        <li>Los precios no incluyen: Gastos personales, servicio a cuartos, llamadas telefónicas, lavandería, maleteros, propina nada claramente no especificado.</li>
                        <li>Los boletos y vouchers serán entregados 48 hrs. Antes de la salida.</li>
                        <li>Tarifas sujetas a variación y cambio sin previo aviso.</li>
                    </ul>
                </div>

                <div class="rounded-md mt-4">
                    <h3 class="text-base font-semibold text-orange-600 mb-2">REQUISITOS PARA EL VIAJE:</h3>
                    <ul class="list-disc list-inside space-y-2 text-sm text-gray-800">
                        <li>Pasaporte con vigencia mínima de 6 meses.</li>
                        <li>Permiso notarial del papá y mamá para menor que viaje solo.</li>
                        <li>Permiso notarial del papá si viaja solo con la mamá.</li>
                        <li>Permiso del juez de menores en caso de que uno de los padres estuviese fuera del país.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</Layout>